.layout-conferences {
    margin-top: 20px;
}

.layout-area {
    display: flex;
    margin-top: 70px;
}

.layout-list {
    display: block;
    width: 100%;
}

.layout-viewer {
    width: 250px;
}

.layout-viewer:empty {
    display: none;
}


/* ---------------- .layout-conference ---------------- */

.layout-conference {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: calc((100% - (5 * 160px)) / 4);
    margin-bottom: 30px;
    width: 160px;
    height: 280px;
}

.layout-conference:nth-child(5n) {
    margin-right: 0px;
}

.layout-conference .layout-photo {
    display: block;
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #3bc260;
    cursor: pointer;
}

.layout-conference .layout-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.layout-conference h3 {
    display: block;
    text-align: center;
    font-family: 'open-sans-semi-bold';
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 5px;
    transform: translateX(-30px);
    width: calc(100% + 60px);
    color: var(--gray);
}

.layout-conference h4 {
    display: block;
    text-align: center;
    font-family: 'open-sans-light';
    font-size: 14px;
    line-height: 1.2;
    transform: translateX(-30px);
    width: calc(100% + 60px);
}

.layout-conference .layout-audio {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.layout-conference audio {
    width: 0px;
    height: 0px;
    overflow: hidden;
}



/* ---------------- .layout-conferences a ---------------- */
.layout-conference a {
    display: block;
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}


/* ---------------- .layout-conferences.viewer ---------------- */

.layout-conferences.viewer {}

.layout-conferences.viewer .layout-conference {
    margin-right: calc((100% - (4 * 160px)) / 3);
}

.layout-conferences.viewer .layout-conference:nth-child(4n) {
    margin-right: 0px;
}

.layout-conferences.viewer .layout-list {
    padding-right: 80px;
}



/* ---------------- .layout-conference.viewer ---------------- */

.layout-conference.viewer {
    display: block;
    margin-right: 0px;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    height: 360px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #3bc260;
}

.layout-conference.viewer h3 {
    transform: none;
    width: auto;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.layout-conference.viewer h4 {
    transform: none;
    width: auto;
    padding: 0px 10px;
}


.layout-conference.viewer .layout-photo {
    border: none;
    width: 100%;
    height: 200px;
    border-radius: 0px;
}

.layout-conference.viewer audio {
    display: none;
}



/* ---------------- .layout-player ---------------- */

.layout-player {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 10;
    background-color: var(--green);
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transform: translateY(40px);
    opacity: 0;
}

.layout-player .cursor {
    position: absolute;
    top: -6px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.layout-player .btn-play-pause {
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-image: url(./../../images/btn-pause.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0px 4px;
    cursor: pointer;
}

.layout-player .btn-play-pause.pause {
    background-image: url(./../../images/btn-play.png);
}

.layout-player .title {
    display: block;
    position: absolute;
    top: 16px;
    left: 70px;
    width: 300px;
    height: 20px;
    overflow: hidden;
}

.layout-player .title p {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'open-sans-regular';
    color: #fff;
    transform: translateX(100%);
    animation-name: play_marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes play_marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.layout-player .range {
    display: block;
    position: absolute;
    top: 25px;
    left: 400px;
    width: calc(100% - 580px);
    height: 1px;
    background-color: #fff;
}

.layout-player .time {
    display: block;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 16px;
    font-family: 'open-sans-regular';
    color: #fff;
}

.layout-player.show {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width:1024px) {

    .layout-area {        
        flex-direction: column-reverse;
    }

    .layout-list {
        padding-right: 0 !important;
    }

    .layout-conference {
        display: block;
        width: 100%;
        max-width: 250px;
        margin-left: auto !important;
        margin-right: auto !important;
        height: auto;
    }

    .layout-conference .layout-photo {
        width: 100%;
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
    }

    .layout-viewer {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .layout-conference.viewer {
        max-width: 300px;
    }
    
}


@media screen and (max-width:700px) {
    .layout-player .range {
        display: none;
    }

    .layout-player .time { 
        display: none;

    }

}