
.layout-wishlist-list {
    margin-top: 70px;
    max-width: 800px;
}

.layout-wishlist-list .layout-list {
    
}

.layout-wishlist-list .layout-programmes {
    margin-bottom: 60px;
    border-top: 1px solid var(--black);
}

.layout-wishlist-list .layout-exposants {
    margin-bottom: 60px;
    border-top: 1px solid var(--green);
}

.layout-wishlist-list h2 {
    text-align: left;
    font-family: 'open-sans-semi-bold';
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 2;
    color: var(--black);
}

.layout-wishlist-list ul {}

.layout-wishlist-list li {
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}

.layout-wishlist-list li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 0px;
}

.layout-wishlist-list li > div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: calc(100% - 90px);
    margin-right: 50px;
}

.layout-wishlist-list li > p {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: 'open-sans-regular';
    font-size: 14px;
    background-color: var(--green);
    color: #fff;
    text-align: center;
    width: 40px;
    height: 35px;
    line-height: 34px;
    cursor: pointer;
}

.layout-wishlist-list li > div > h3 {
    font-family: 'open-sans-semi-bold';
    font-size: 22px;
    color: var(--green);
    margin-bottom: 2px;
    line-height: 1.2;
}

.layout-wishlist-list li > div > div {
    font-family: 'open-sans-light';
    font-size: 16px;
    margin-bottom: 10px;
}

.layout-wishlist-list li > div > div > p{
    font-family: 'open-sans-light';
    font-size: 18px;
    line-height: 1.4;
}

.layout-wishlist-list li > div > div > p > strong{
    font-family: 'open-sans-semi-bold';
    font-size: 18px;
    color: var(--black);
}


.wisshlist-print-button {
    text-align: right;
    font-size: 36px;
    cursor: pointer;
    color: var(--green);
}


.wisshlist-print-button i{
    font-size: inherit;
    font-weight: 600;
}