
/*----------------------------------------------
*                                               *
*                   Formata                     *
*                                               *
-----------------------------------------------*/

/*----------------------------------------------
 * Fallback Formata → Open Sans
 * Les polices Formata ne sont pas incluses dans
 * le dépôt GitHub (police propriétaire).
 ----------------------------------------------*/

.formata,
body.formata,
*[class*="formata"],
*[style*="formata"],
html {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

/*----------------------------------------------
*                                               *
*                 Open Sans                     *
*                                               *
-----------------------------------------------*/


@font-face {
    font-family: 'open-sans-bold';
    src: url('./../../fonts/open-sans/OpenSans-Bold.eot');
    src: url('./../../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-Bold.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-extra-bold';
    src: url('./../../fonts/open-sans/OpenSans-ExtraBold.eot');
    src: url('./../../fonts/open-sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-ExtraBold.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-bold-italic';
    src: url('./../../fonts/open-sans/OpenSans-BoldItalic.eot');
    src: url('./../../fonts/open-sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-extra-bold-italic';
    src: url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.eot');
    src: url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-light';
    src: url('./../../fonts/open-sans/OpenSans-Light.eot');
    src: url('./../../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-Light.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-Light.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-italic';
    src: url('./../../fonts/open-sans/OpenSans-Italic.eot');
    src: url('./../../fonts/open-sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-Italic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-light-italic';
    src: url('./../../fonts/open-sans/OpenSans-LightItalic.eot');
    src: url('./../../fonts/open-sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-LightItalic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-medium';
    src: url('./../../fonts/open-sans/OpenSans-Medium.eot');
    src: url('./../../fonts/open-sans/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-Medium.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-Medium.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-Medium.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-medium-italic';
    src: url('./../../fonts/open-sans/OpenSans-MediumItalic.eot');
    src: url('./../../fonts/open-sans/OpenSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-MediumItalic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-MediumItalic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-MediumItalic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-MediumItalic.svg#OpenSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-regular';
    src: url('./../../fonts/open-sans/OpenSans-Regular.eot');
    src: url('./../../fonts/open-sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-semi-bold';
    src: url('./../../fonts/open-sans/OpenSans-SemiBold.eot');
    src: url('./../../fonts/open-sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-SemiBold.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans-semi-bold-italic';
    src: url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.eot');
    src: url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype'),
        url('./../../fonts/open-sans/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}




