.large .layout-col-left {
    width: 6%;
}

.large .layout-col-right {
    width: 94%;
}


.layout-header {
    max-width: 1350px;
}

.layout-main {
    max-width: 1350px;
}

.layout-programmation-home {
    margin-top: 10px;
}


/* ---------------- .layout-programmation-home .layout-programme ---------------- */

.layout-programmation-home .layout-programme {
    display: flex;
    border-bottom: 1px solid var(--green);
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.layout-programmation-home .layout-programme p:nth-child(1) {
    font-family: 'open-sans-regular';
    font-size: 30px;
    text-transform: uppercase;
    color: var(--green);
    line-height: 1;
    display: block;
    height: 32px;
}

.layout-programmation-home .layout-programme p a {
    display: block;
    position: relative;
    padding: 0px 30px;
    background-color: var(--green);
    font-size: 14px;
    font-family: 'open-sans-regular';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    height: 32px;
    line-height: 32px;
    width: 270px;
    text-align: center;
}

.layout-programmation-home .layout-programme p input {
    border: 1px solid var(--green);
    font-size: 18px;
    border-radius: 13px;
    line-height: 32px;
    height: 32px;
    width: 180px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
}


/* ---------------- .layout-programmation-home .layout-jours ---------------- */

.layout-programmation-home .layout-jours {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--green);
}

.layout-programmation-home .layout-jours>p {
    font-family: 'open-sans-semi-bold';
    font-size: 14px;
    text-transform: uppercase;
    color: var(--green);
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}

.layout-programmation-home .layout-jours>div {
    display: flex;
    justify-content: space-between;
}

.layout-programmation-home .layout-jours>div p a {
    display: block;
    position: relative;
    font-family: 'open-sans-regular';
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: var(--green);
    height: 45px;
    line-height: 45px;
    padding: 0px 50px;
    text-align: center;
}


/* ---------------- .layout-programmation-home .layout-thematique --------------- */

.layout-programmation-home .layout-thematique .layout-content {
    margin-top: 0px;
}

.layout-programmation-home .layout-thematique .layout-content>p {
    font-family: 'open-sans-semi-bold';
    font-size: 14px;
    color: var(--green);
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.layout-programmation-home .layout-thematique .layout-content .gallery div[data-type="grid"] {
    margin-top: 0px;
}

/* ---------------- .layout-programmation-home .layout-themes ---------------- */

.layout-programmation-home .layout-themes {
    display: none;
    margin-top: 40px;
}

.layout-programmation-home .layout-themes ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.layout-programmation-home .layout-themes li {
    width: 340px;
    display: block;
    margin-right: calc((100% - (3 * 340px)) / 2);
    margin-bottom: 25px;
}

.layout-programmation-home .layout-themes li:nth-child(3n) {
    margin-right: 0px;
}

.layout-programmation-home .layout-themes li:nth-child(3n+1) {
    background-color: var(--orange);
}

.layout-programmation-home .layout-themes li:nth-child(3n+2) {
    background-color: var(--blue);
}

.layout-programmation-home .layout-themes li:nth-child(3n+3) {
    background-color: var(--pink);
}

.layout-programmation-home .layout-themes li a {
    display: block;
    padding: 15px 0px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: 'open-sans-regular';
}


@media screen and (max-width:1024px) {


    .layout-programmation-home .layout-jours>p {
        text-align: center;
    }

    .layout-programmation-home .layout-thematique .layout-content>p {
        text-align: center;
    }

    .layout-programmation-home .layout-jours>div {
        display: block;
    }

    .layout-programmation-home .layout-jours>div p a {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-size: 16px;
    }
}