.large .layout-col-left {
    width: 6%;
}

.large .layout-col-right {
    width: 94%;
}


.layout-header {
    max-width: 1350px;
}

.layout-main {
    max-width: 1350px;
}

body {
    height: 100%;
}

/* ---------------- .layout-programmation ---------------- */

.layout-programmation {
    margin-top: 20px;
}

/* ---------------- .layout-programmation .layout-categories ---------------- */

.layout-programmation .layout-categories {
    width: 22%;
    padding-right: 10px;
}

.layout-programmation .layout-categories h2 {
    font-family: 'open-sans-semi-bold';
    font-size: 20px;
    text-align: left;
    color: var(--green);
    margin-bottom: 5px;
}

.layout-programmation .layout-categories ul {
    margin-bottom: 40px;
}

.layout-programmation .layout-categories li {
    margin-bottom: 10px;
}

.layout-programmation .layout-categories li a {
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-family: 'open-sans-light';
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 10px 20px;
    line-height: 1;
    letter-spacing: 0.01em;
    cursor: pointer;
    border-radius: 4px;
}

.layout-programmation .layout-categories li a:hover {
    color: #fff;
    font-family: 'open-sans-regular';
    background-color: var(--green);
    border-color: var(--green);
}

.layout-programmation .layout-categories li a.selected {
    color: #fff;
    font-family: 'open-sans-regular';
    background-color: var(--green);
    border-color: var(--green);
}

.layout-programmation .layout-categories li.selected a {
    color: #fff;
    font-family: 'open-sans-regular';
    background-color: var(--green);
    border-color: var(--green);
}



/* ---------------- .layout-programmes-list ---------------- */

.layout-programmes-list {
    width: 28%;
    padding-right: 30px;
    height: calc(100vh - 300px);
    overflow-y: auto;
}

.layout-programmes-list h3 {
    display: inline-block;
    position: relative;
    font-family: 'open-sans-medium';
    font-size: 22px;
    text-align: left;
    color: var(--green);
    margin-bottom: 10px;
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin-top: 20px;
}

.layout-programmes-list h3:first-child {
    margin-top: 0px;
}

.layout-programmes-list ul li {
    margin-bottom: 10px;
    position: relative;
}

.layout-programmes-list ul li h4 {
    position: relative;
}

.layout-programmes-list ul li h4 a {
    display: block;
    position: relative;
    padding: 0px;
    padding: 5px 20px;
    padding-left: 0px;
    border: none;
    font-family: 'open-sans-semi-bold';
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    color: var(--gray);   
}

.layout-programmes-list ul li h4 a span {
    display: inline;
    position: relative;
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.layout-programmes-list ul li h4 a span:nth-child(1):empty+span:nth-child(2) {
    display: none;
}

.layout-programmes-list ul li h4:hover a {
    color: var(--orange);
}

.layout-programmes-list ul li.selected {
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 6px;
}

.layout-programmes-list ul li.selected * {
    color: #000;
}

.layout-programmes-list ul li.selected h4 a {
    font-size: 17px;
}

.layout-programmes-list ul li p {
    font-family: 'open-sans-light';
    font-size: 16px;
}

.layout-programmes-list:empty {
    display: none;
}


/* ---------------- .layout-programme-single ---------------- */


.layout-programme-single {
    width: 50%;
    margin-right: 0px !important;
    border-right: none;
    padding-bottom: 50px;
}

.layout-programme-single h1 {
    font-size: 45px;
    text-align: left;
    color: var(--green);
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 0px;
    font-family: 'open-sans-regular';
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: none;
}


.layout-programme-single h1 span {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 34px;
    line-height: 1.6;
}


.layout-programme-single h1 span * {
    font-size: inherit;
    cursor: pointer;
    color: var(--orange);
}

.layout-programme-single h1 span:hover:before {
    content: 'Ajouter \000E0  mes favoris';
    display: block;
    position: absolute;
    z-index: 2;
    top: 12px;
    right: -160px;
    width: 150px;
    height: 38px;
    background-color: var(--green);
    border: 1px solid #ccc;
    font-family: 'open-sans-regular';
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    text-align: center;
}


.layout-programme-single div {
    font-family: 'open-sans-light';
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.layout-programme-single p {
    font-family: 'open-sans-light';
    font-size: 18px;
    line-height: 1.5;
}

.layout-programme-single p strong {
    font-family: 'open-sans-semi-bold';
    font-size: 17px;
    color: var(--gray);
}

.layout-programme-single a {
    color: var(--green);
    font-family: 'open-sans-regular';
}

.layout-programme-single:empty {
    display: none;
}


.layout-programme-single .photo img {
    max-width: 100%;
    max-height: 500px;
}


.layout-programmes-list:empty+.layout-programme-single {
    width: calc(100% - 22%);
}


@media screen and (max-width:1024px) {  

    .layout-programmation-home .layout-jours>div p a {

    }
}