
* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.layout-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
   font-size: 20px;
   margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #f95214;
}

p {
    font-size: 16px;
}

.button {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    border: none;
    background-color: #1b632f;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 100;
}